<html>
    <head>
        <title>Weather App</title>
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">

        <script src="https://kit.fontawesome.com/b3ee3494e9.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="card">
            <form action="/" method="post" class="search">
                <input placeholder="City Name" class="search-bar" id = "cityInput" type="text" name="cityName">
                <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
            <div class="weather">
                <h2 class="city">Toronto&deg;C</h2>
                <h1 class="temp">23c</h1>
                <img src="" alt="" class="icon" />
                <div class="description">cloudy</div>
                <div class="humidity">30%</div>
                <div class="wind">3.2 km/h</div>
            </div>
        </div>
        
    </body>

</html>